body{
    font-family: 'Bubblegum Sans', cursive;
    background-color:aquamarine;
}

.header_div{
    background: white;
    color: #ff0000;
}

.header_div p{
    font-family: monospace;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Times New Roman', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 16px;
}

.copy_right_footer{
    position: fixed;
    color: blue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: honeydew;
    line-height: 3;
    text-align: center;
    text-shadow: 10px 10px 10px chartreuse; 
}